click
dlib
enum-compat
enum34
eventlet
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
imutils
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python
opencv-contrib-python
Pillow
pybase64
python-engineio
python-socketio
redis
scikit-learn
six
Werkzeug
