<!DOCTYPE html>
<html lang="en">
<head>
  <title>Immersion Project</title>
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/AMIRANDA9112/Inmersion/integration_test/media/logo_icon.ico?token=AKN5O65CQG3F5S7GWFSQJOK7SJUIK">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<style>
  video {
      width: 100%;
      height: auto;
  }
  .font, p{
      font-family: "Roboto";
      font-size: 24px;
      color: rgba(0, 0, 0, 0.671);
  }
  .navbar-brand{
    font-size: 24px;
  }
  .nav-item{
    font-size: 20px;
  }
  @media only screen and (max-width: 768px) {
    .mylogo {
	width: 60%;
    }
}
</style>

<body class="bg-light">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
style="background-image: url(https://dl.dropbox.com/s/de3eitpbjm2izrp/background2.jpg?dl=0)">
  <a class="navbar-brand" href="/"> Immersion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left pr-md-6">
                <h1 class="mb-3 display-4">Present your slides with augmented reality tools
                    <span class="badge badge-danger">New</span>
                </h1>
                <p class="lead mb-4 font">
                Immersion project is a plugin extension for video-chat applications which helps you, and your team,
                enhance your on-screen presentations through a set of augmented reality tools. With us you can forget
                about using your mouse, and keyboard, freeing your hands to increase your audience atention.
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://dl.dropboxusercontent.com/s/tvaerh2rxq2zvuq/logo.gif?dl=0" class="mx-auto d-block img-fluid mylogo">
            </div>
        </div><br>
        <a href="signup" class="btn btn-block btn-lg bg-dark text-light font">
          <b>Get Started</b></a>
    </div>
        <!-- Grid of images and descriptions -->
        <div class="container bg-light text-dark"><br>
          <hr />
          <div class="row">
            <div class="col-md-4 center-block text-center">
              <img src="https://dl.dropbox.com/s/2ruovs33hr7tmtw/how_it_works1.jpg?dl=0"
              class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
              <p>
                <h3>How does it work?</h3>
                <p>Enhance your presentation skills with augmented reality tools.</p>
              </p>
            </div>

            <div class="col-md-4 center-block text-center">
              <img src="https://dl.dropbox.com/s/omla90feticfk9a/video_chat.jpg?dl=0"
              class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
              <p class="d-block mx-auto">
                <p>
                  <h3>Where can I use it?</h3>
                  <p>As an extension of any video-chat platform.
                  </p>
                </p>
              </div>

              <div class="col-md-4 center-block text-center">
                <img src="https://dl.dropbox.com/s/0vdn2d3a4a423wh/free2.jpg?dl=0"
                class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
                <p class="d-block mx-auto">
                <p>
                  <h3>Is it free?</h3>
                  <p>This first version it's completely free to use!.</p>
                </p>
              </div>
              <br><br>
          </div>

          <div class="row">
            <div class="col-md-4 center-block text-center">
              <img src="https://dl.dropbox.com/s/p9fa6v9prttjdfl/login1.png?dl=0"
                class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
              <p>
                <h3>How can I access the service?</h3>
                <p>
                  Just sign up with us, and after you login, then you will have access.
                </p>
              </p>
            </div>

            <div class="col-md-4 center-block text-center">
              <img src="https://dl.dropboxusercontent.com/s/rqef1ry8xr4looj/tools.png?dl=0"
              class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
                <p>
                  <h3>What are the aumented reality tools for?</h3>
                  <p>You can draw, point and show your face on the slides
                    without the use of the mouse or keyboard.
                  </p>
                </p>
              </div>

              <div class="col-md-4 center-block text-center">
                <img src="https://dl.dropboxusercontent.com/s/6uaqp6ieduh0khi/teaching.jpg?dl=0"
                class="img-fluid rounded-circle mx-auto d-block" width="150" height="150">
                <p>
                  <h3>What are the main reasons for using Immersion?</h3>
                  <p>Teaching, pitching your business ideas, giving conferences,
                    and many more..
                  </p>
                </p>
              </div>
              <br><br>
          </div>
          <hr />
        </div>

        <div class="container">
        <video width="400" controls>
            <source src="https://dl.dropboxusercontent.com/s/b2czklqbposet3d/miranda.mp4?dl=0" type="video/mp4">
        </video>
        </div>

</div>
<br>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://project-inmersion.herokuapp.com/">project-inmersion</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>
